@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"),
        url("../fonts/lato-v16-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/lato-v16-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
        url("../fonts/montserrat-v14-latin-800.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin-800.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*!
 * ress.css • v2.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

*,
:after,
:before {
    background-repeat: no-repeat;
    box-sizing: inherit
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit
}

* {
    padding: 0;
    margin: 0
}

hr {
    overflow: visible;
    height: 0
}

details,
main {
    display: block
}

summary {
    display: list-item
}

small {
    font-size: 80%
}

[hidden] {
    display: none
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline-width: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace
}

pre {
    font-size: 1em
}

b,
strong {
    font-weight: bolder
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

input {
    border-radius: 0
}

[disabled] {
    cursor: default
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    resize: vertical
}

button,
input,
optgroup,
select,
textarea {
    font: inherit
}

optgroup {
    font-weight: 700
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    color: currentColor
}

legend {
    border: 0;
    color: inherit;
    display: table;
    white-space: normal;
    max-width: 100%
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

img {
    border-style: none
}

progress {
    vertical-align: baseline
}

svg:not([fill]) {
    fill: currentColor
}

@media screen {
    [hidden~=screen] {
        display: inherit
    }

    [hidden~=screen]:not(:active):not(:focus):not(:target) {
        position: absolute !important;
        clip: rect(0 0 0 0) !important
    }
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-disabled] {
    cursor: default
}

/*!
 * MAIN CSS
*/

:root {
    font-size: 14px;
}

main,
.wrapper {
    overflow: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    justify-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 2rem;
    z-index: 10;
    border-bottom-right-radius: 2rem;
    box-shadow: 0px 15px 50px 0 rgba(7, 29, 56, 0.15);
}

#map {
    width: 100%;
    position: absolute;
    top: 0;
    height: 55vh;
    z-index: 1;
}

.inline-svg {
    display: inline-flex;
    align-self: center;
    height: 1.25rem;
    margin: 0 0.25rem;
}

.address-box {
    position: absolute;
    top: -180px;
    z-index: 10;
    background: #fff;
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0px 15px 50px 0 rgba(7, 29, 56, 0.15);
    padding: 1.5rem;
}

.address-box .subheading .time {
    color: #999999;
    font-weight: 400;
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.67;
    align-self: baseline;
}

.address-box p {
    font-family: Roboto;
    color: #666666;
    margin-top: .25rem;
    font-size: 1rem;
    line-height: 1.67;
}

footer .desc {
    font-family: Lato;
    font-size: 1rem;
    line-height: 1.36;
    text-align: left;
    color: #666666;
    margin-bottom: 2.5rem;
}

footer h2 {

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

main {
    height: calc(60vh + 64px);

}


.info {
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Montserrat;
    font-size: 30px;
    color: #333;
    letter-spacing: -0.6px;
    text-align: center;
    margin-bottom: 2rem;
}

.transportation-mode {
    padding: 0 0.25rem 0 0.5rem;
}

.address-box h2 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;


}

.address-box .subheading {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: .5rem 0;
}

.heading h2 {
    text-align: left;
}

.compass {
    display: none;
}

.battery {
    height: 24px;
    width: 24px;
    display: inline-block;
}

.battery-power {
    color: #3cdd56;
    font-weight: 400;
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.67;
    align-self: baseline;
}

.battery-0 {
    background: url('../images/battery/battery-0.svg')
}

.battery-10 {
    background: url('../images/battery/battery-10.svg')
}

.battery-20 {
    background: url('../images/battery/battery-20.svg')
}

.battery-30 {
    background: url('../images/battery/battery-30.svg')
}

.battery-40 {
    background: url('../images/battery/battery-40.svg')
}

.battery-50 {
    background: url('../images/battery/battery-50.svg')
}

.battery-60 {
    background: url('../images/battery/battery-60.svg')
}

.battery-70 {
    background: url('../images/battery/battery-70.svg')
}

.battery-80 {
    background: url('../images/battery/battery-80.svg')
}

.battery-90 {
    background: url('../images/battery/battery-90.svg')
}

.battery-100 {
    background: url('../images/battery/battery-100.svg')
}

.download-btn {
    width: 175px;
    height: auto;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
}

.download-btns {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-tagline {
    visibility: hidden;
    display: none;
}

section.privacy-policy {
    padding: 3.75rem 0;
    margin-top: 6rem;
    background-color: #333333;
    width: 100%;
    max-width: 100%;
}

.privacy-policy h5 {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.privacy-policy p {
    font-family: Lato;
    font-size: 0.9375rem;
    line-height: 1.67;
    text-align: left;
    color: #999999;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.copyright ul {
    display: flex;
    list-style-type: none;
}

.copyright {
    background-color: #222222;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    line-height: 1.67;
    padding: 2.25rem 0;
    width: 100%;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.container {
    padding: 0 1rem;
}

@media only screen and (min-width: 641px) {
    .logo {
        width: 104px;
        height: auto;

    }

    header {
        position: relative;
        width: 100%;
        text-align: center;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 0;
        ;
    }

    .wrapper {
        position: relative;
        flex-direction: column;

    }

    #map {
        position: static;
    }

    footer {
        margin-top: 150px;
    }

    footer .desc {
        line-height: 1.56;
        font-size: 1.2rem;
        max-width: 900px;
        text-align: center;
    }

    .logo-tagline {
        visibility: visible;
        display: block;
        font-family: Lato;
        font-size: 1rem;

        line-height: 1.56;

        color: #666666;
    }
}